@import "src/assets/styles/GlobalVariables";

.SectionTitle_Comp {
  margin-bottom: 40px;

  .caption__wrapper {
    margin-bottom: 50px;
    text-align: center;

    .caption__title {
      color: $colorOrange;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2rem;
      font-weight: 600;
    };
    .caption__subTitle {
      font-size: 1rem;
      font-style: italic;
    };
  };
}
