@import "./assets/styles/GlobalVariables";

.App {
  height: $fullHeight;
  width: $fullWidth;
  background: antiquewhite;
  font-size: $fontSize;

  display: grid;
  grid-template-columns: [col-start] 1fr [col-end];
  grid-template-rows: [appHeader-start] min-content [appHeader-end appBody-start] 1fr [appBody-end appFooter-start] min-content [appFooter-end];


  /*==== Header ====*/
  header {
    grid-column: col-start / col-end;
    grid-row: appHeader-start / appHeader-end;

    height: auto;
    width: $fullWidth;
    position: fixed;
    top: 0;
    z-index: 1000;
  }


  .app-body__wrapper {
    background: $secondaryColor;

    grid-column: col-start / col-end;
    grid-row: appBody-start / appBody-end;
  }

  /*==== Footer ====*/
  footer {
    grid-column: col-start / col-end;
    grid-row: appFooter-start / appFooter-end;
  }
}