@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;500;600;800&family=Quicksand:wght@300;400;500;600;700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
/*
font-family: 'Glory', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
*/

//  Import Global SCSS variables.
@import "GlobalVariables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
*::before,
*::after{
  box-sizing:border-box;
}

html {
  height: $fullHeight;
  width: $fullWidth;
}

body {
  height: $fullHeight;
  width: $fullWidth;
  background: aliceblue;
  font-family: 'Quicksand', sans-serif;
  font-size: $fontSize;
  color: #100601;

  #app {
    height: $fullHeight;
    width: $fullWidth;
    color: #100601;
  };
};
